if status is-interactive
    # Commands to run in interactive sessions can go here
    atuin init fish | source
end

if type -q thefuck
    # thefuck --alias | source
end

if type -q starship
   # starship init fish | source
end

if type -q zoxide
    zoxide init fish | source
end

if type -q op
   op completion fish | source
end

set -x EXA_STANDARD_OPTIONS --group --group-directories-first
{{- if eq .is_wsl true}}
{$HOME}/.local/bin/wsl-ssh-agent-relay start
export SSH_AUTH_SOCK={$HOME}/.ssh/wsl-ssh-agent.sock
set -x EXA_L_OPTIONS
{{- end }}


set fish_greeting
{{ if eq .chezmoi.os "darwin" -}}
source /Users/jack/.config/op/plugins.sh
export LS_COLORS="$(vivid generate molokai)"
{{- end }}

